@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import 'marvel.css';

:root {
    --violeta: #9A58DF;
    --azul: #151C36;
    --amarillo: rgb(228, 141, 0);
    --celeste: #2f7be6;
    --amarilloClaro: #ffc800;
    --blanco: whitesmoke;
    --rojo: crimson;
    --rojoClaro: rgb(185, 60, 85);
    --negro: rgb(31, 31, 31);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    background-image: url('../img/background.webp');
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-position: center center;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100dvh;
    width: 100%;
}

body.index {
    background-color: var(--azul);
}

a,
a:visited {
    color: var(--blanco);
    text-decoration: none;
    transition: color .5s ease;
}

.full {
    scroll-margin-top: 10px;
}

.todos {
    margin: 0 auto;
}

h1,
h2,
h3,
h5,
h6 {
    width: clamp(260px, 90%, 600px);
    text-align: center;
    color: var(--blanco);
    border-top: 1px solid var(--blanco);
    border-bottom: 1px solid var(--blanco);
    padding: 10px 0;
}

h2,
h3 {
    border: none;
    margin: 10px auto;
    font-weight: 600;
}

h4 {
    color: var(--blanco);
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

h1 {
    font-size: clamp(1.5rem, 7vw, 2.5rem);
}

h2 {
    font-size: clamp(1.4rem, 6vw, 2rem);
}

h3 {
    font-size: clamp(1.2rem, 5vw, 1.8rem);
}

.notes {
    font-weight: 400;
    color: var(--rojoClaro);
}

ul {
    list-style-type: none;
}

.comision {
    color: #b9d6ff;
}

.header-index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botonera {
    display: flex;
    position: fixed;
    gap: 10px;
    color: var(--blanco);
    font-size: 1.3rem;
    top: 20px;
    right: 20px;
    background-color: var(--azul);
    padding: 12px;
    border-radius: 50%;
}

nav {
    z-index: 1000;
}

.icon-style {
    font-size: 2rem;
    z-index: 1001;
    transition: filter .3s ease, color .3s ease;
}

.icon-style:active {
    filter: invert();
}

.icon-style:hover {
    color: var(--amarillo);
    cursor: pointer;
}

.titulos {
    margin-top: 1rem;
}

ul.menu {
    position: absolute;
    width: 240px;
    height: 100vh;
    text-align: right;
    top: -20px;
    right: -20px;
    background-color: var(--azul);
    padding: 40px;
    border: 1px solid rgba(245, 245, 245, 0.131);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: block;
    box-shadow: 0 1px 10px black;
    z-index: 999;
}

.fa-times {
    margin: -3px 3px;
    font-size: 2.5rem;
    transition: all .3s ease;
}

.menu-li {
    display: flex;
    justify-content: end;
    font-size: .9rem;
    position: relative;
    top: 50px;
    line-height: 3rem;
    text-transform: uppercase;
    transition: color .3s ease-in-out;
}

.acceso {
    border-top: 1px dotted var(--blanco);
    border-bottom: 1px dotted var(--blanco);
    color: var(--celeste);
    cursor: pointer;
}

.acceso1 {
    border-top: 1px dotted var(--blanco)
}

.acceso2 {
    border-bottom: 1px dotted var(--blanco);
}

.acceso1,
.acceso2 {
    color: var(--amarilloClaro);
    font-weight: 500;
}

.training {
    color: var(--rojoClaro);
}

.training:hover {
    color: var(--rojo) !important;
}

.menu-li:hover {
    color: var(--amarillo);
}

#mostrar-menu {
    transform: translateX(240px);
    transition: transform .3s ease-out;
}

#mostrar-menu.mostrar {
    transform: translateX(0);
    transition: transform .5s ease-out;
}

img.logo {
    width: min(50vw, 350px);
    padding: 0px 0 30px;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.enlaces {
    background-color: var(--violeta);
    border: none;
    width: clamp(260px, 80%, 500px);
    margin: 4px auto;
    padding: 10px 20px;
    border-radius: 3rem;
    font-size: 18px;
    cursor: pointer;
    text-shadow: 0 1px 3px black;
    text-align: center;
    transition: filter .5s ease;
}

.enlaces:hover {
    filter: brightness(125%);
    /* color: black; */
    text-shadow: none;
}

.utiles {
    background-color: var(--amarillo);
}

.vscode {
    background-color: var(--celeste);
}

.btn-chicos {
    display: flex;
    gap: 5px;
    width: clamp(260px, 80%, 500px);
}

.b-chicos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    background-color: var(--rojoClaro);
}


.links-recursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: var(--blanco);
}

.links-ul {
    border: 1px solid var(--amarillo);
    padding: 30px 60px 10px;
}

.cheats {
    text-align: left;
    transition: color .5s ease;
}

.cheats a:link {
    color: var(--blanco);
}

.cheats a:hover {
    color: var(--amarilloClaro);
}

.fa-file-pdf,
.fa-file-image,
.fa-file-code {
    color: var(--celeste);
    transition: color .5s ease;
}

.fa-file-pdf:hover,
.fa-file-image:hover,
.fa-file-code:hover {
    color: var(--violeta);
}

.pendiente {
    position: relative;
    background-color: var(--amarilloClaro);
    padding: 0 10px;
    border-radius: 25px;
    color: black;
    font-size: .8rem;
    text-shadow: none;
    font-weight: 600;
}

.profe {
    font-size: 1.2rem;
    font-weight: 600;
    transition: color .5s ease;
}

.profe a:hover {
    color: var(--amarillo);
}

/* Inicio Modal Formulario */

.form-titulo {
    padding-bottom: 30px;
}

form {
    margin: 0 auto;
    width: clamp(260px, 90%, 800px);
    height: auto;
}

form .grupo {
    position: relative;
    margin: 45px;
}

input,
textarea {
    background: none;
    color: var(--blanco);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--blanco);
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
    color: var(--amarillo);
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: var(--blanco);
}

label {
    color: var(--blanco);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}


input:focus~.barra::before,
textarea:focus~.barra::before {
    width: 100%;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: '';
    height: 1px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #999, orangered);
    transition: 0.3s ease all;
    left: 0%;
}

button.submit {
    background-color: transparent;
    border: 1px solid var(--blanco);
    display: block;
    width: 140px;
    height: 40px;
    color: var(--blanco);
    border-radius: 4px;
    margin: 10px auto;
    cursor: pointer;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    transition: background-color .5s ease, color .5s ease;
}

button.submit:hover {
    background-color: var(--blanco);
    color: var(--azul);
}

.formulario {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1200;
}

.form-content {
    background-color: var(--azul);
    padding: 80px 00px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: clamp(260px, 90%, 600px);
    border: 1px solid rgba(245, 245, 245, 0.131);
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-weight: bold;
    color: var(--blanco);
    font-weight: lighter;
}

.close:hover {
    color: var(--amarillo);
}

/* Fin Modal Formulario */

/* Boton Ir Arriba */
#boton-arriba {
    width: 40px;
    height: 40px;
    color: var(--blanco);
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 1.8rem;
    right: 2rem;
    border: 4px solid transparent;
    cursor: pointer;
    transition: all .3s ease;
    transform: scale(0);
    z-index: 2000;
}

#boton-arriba:hover {
    transform: scale(1.1);
    background-color: var(--rojo);
    border: 4px solid var(--rojo);
}

/* boton figma */
.figma-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 200, 201);
    color: var(--negro);
}

.figma {
    padding-right: 20px;
    width: 50px;
    height: auto;
}

.figma-text {
    text-align: left;
    color: var(--negro);
}