@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

:root {
    --violeta: #9A58DF;
    --azul: #151C36;
    --amarillo: rgb(228, 141, 0);
    --celeste: #2f7be6;
    --amarilloClaro: #ffc800;
    --blanco: whitesmoke;
    --rojo: crimson;
    --rojoClaro: rgb(185, 60, 85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    width: 100%;
}

body.index {
    background-color: var(--azul);
}

a,
a:visited {
    color: var(--blanco);
    text-decoration: none;
}

.full {
    scroll-margin-top: 40px;
}

.todos {
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    width: clamp(260px, 90%, 600px);
    text-align: center;
    color: var(--blanco);
    border-top: 1px solid var(--blanco);
    border-bottom: 1px solid var(--blanco);
    padding: 10px 0;
}

h2,
h3 {
    border: none;
    margin: 10px auto;
    font-weight: 600;
}

h1 {
    font-size: clamp(1.5rem, 7vw, 2.5rem);
}

.logo-marvel {
    margin: 5px 30px 0;
    width: clamp(100px, 30%, 200px);
}

h2 {
    font-size: clamp(1.4rem, 6vw, 2rem);
}

h3 {
    font-size: clamp(1.2rem, 5vw, 1.8rem);
}

ul {
    list-style-type: none;
}

.comision {
    color: #b9d6ff;
}

.header-index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botonera {
    display: flex;
    position: fixed;
    gap: 10px;
    color: var(--blanco);
    font-size: 1.3rem;
    top: 20px;
    right: 20px;
    background-color: var(--azul);
    padding: 12px;
    border-radius: 50%;
}

nav {
    z-index: 1000;
}

.icon-style {
    font-size: 2rem;
    z-index: 1001;
}

.icon-style:active {
    filter: invert();
    transition: all .3s ease;
}

.icon-style:hover {
    color: var(--amarillo);
    cursor: pointer;
}

ul.menu {
    position: absolute;
    width: 240px;
    height: 100vh;
    text-align: right;
    top: -20px;
    right: -20px;
    background-color: var(--azul);
    padding: 40px;
    border: 1px solid rgba(245, 245, 245, 0.131);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: block;
    box-shadow: 0 1px 10px black;
    z-index: 999;
}

.fa-times {
    margin: -3px 3px;
    font-size: 2.5rem;
    transition: all .3s ease;
}

.menu-li {
    position: relative;
    top: 50px;
    line-height: 3rem;
    text-transform: uppercase;
}

.acceso {
    cursor: pointer;
}

.menu-li:hover {
    color: var(--amarillo);
}

#mostrar-menu {
    transform: translateX(240px);
    transition: transform .3s ease-out;
}

#mostrar-menu.mostrar {
    transform: translateX(0);
    transition: transform .3s ease-out;
}

img.logo {
    width: min(50vw, 350px);
    padding: 30px 0;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.enlaces {
    background-color: var(--violeta);
    border: none;
    width: clamp(260px, 80%, 500px);
    margin: 4px auto;
    padding: 10px 20px;
    border-radius: 3rem;
    font-size: 18px;
    cursor: pointer;
    text-shadow: 0 1px 3px black;
}

.enlaces:hover {
    filter: brightness(115%);
}

.utiles {
    background-color: var(--amarillo);
}

.vscode {
    background-color: var(--celeste);
}

.btn-chicos {
    display: flex;
    gap: 5px;
    width: clamp(260px, 80%, 500px);
}

.b-chicos {
    font-size: .9rem;
    background-color: var(--rojoClaro);
}


.links-recursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: var(--blanco);
}

.links-ul {
    border: 1px solid var(--amarillo);
    padding: 30px 60px 10px;
}

.cheats {
    text-align: left;
}

.cheats a:link {
    color: var(--blanco);
}

.cheats a:hover {
    color: var(--amarilloClaro);
}

.fa-file-pdf {
    color: var(--rojo);
}

.pendiente {
    position: relative;
    background-color: var(--amarilloClaro);
    padding: 0 10px;
    border-radius: 25px;
    color: black;
    font-size: .8rem;
}

.profe {
    font-size: 1.2rem;
    font-weight: 600;
}

.profe a:hover {
    color: var(--amarillo);
}

/* Inicio Modal Formulario */

.form-titulo {
    padding-bottom: 30px;
}

form {
    margin: 0 auto;
    width: clamp(260px, 90%, 800px);
    height: auto;
}

form .grupo {
    position: relative;
    margin: 45px;
}

input,
textarea {
    background: none;
    color: var(--blanco);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--blanco);
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
    color: var(--amarillo);
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: var(--blanco);
}

label {
    color: var(--blanco);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}


input:focus~.barra::before,
textarea:focus~.barra::before {
    width: 100%;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: '';
    height: 1px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #999, orangered);
    transition: 0.3s ease all;
    left: 0%;
}

button.submit {
    background-color: transparent;
    border: 1px solid var(--blanco);
    display: block;
    width: 140px;
    height: 40px;
    color: var(--blanco);
    border-radius: 4px;
    margin: 10px auto;
    cursor: pointer;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
}

button.submit:hover {
    background-color: var(--blanco);
    color: var(--azul);
}

.formulario {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1200;
}

.form-content {
    background-color: var(--azul);
    padding: 80px 00px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: clamp(260px, 90%, 600px);
    border: 1px solid rgba(245, 245, 245, 0.131);
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-weight: bold;
    color: var(--blanco);
    font-weight: lighter;
}

.close:hover {
    color: var(--amarillo);
}

/* Fin Modal Formulario */

/* Training */
body.training {
    background-color: var(--blanco);
}

.header-index {
    padding: 70px 0 0;
}

.header-training {
    background-color: var(--azul);
    padding: 20px 0;
}

.main-training {
    width: clamp(260px, 100%, 1200px);
    margin: auto;
}

.fotos {
    display: flex;
    justify-content: center;
    width: clamp(260px, 100%, 1200px);
    margin: 70px auto 0;
}

cite {
    display: flex;
    justify-content: center;
    background-color: var(--rojo);
    color: var(--blanco);
    font-size: 1.3rem;
    font-weight: 800;
    padding: .5rem 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    overflow-x: hidden;
}

.personajes p {
    color: darkslategray;
    margin: auto;
    padding: 30px 40px;
    text-align: justify;
    hyphens: auto;
    /* border-bottom: 1px dashed var(--rojo); */
}

.destaque {
    font-weight: 600;
}

footer {
    background-color: var(--azul);
}

.texto-pie {
    display: block;
    padding: 40px 0;
    font-size: .8rem;
    color: grey;
    text-align: center;
}

.marvel {
    background-color: #EC1D26;
    padding: 10px 0 0;
}

hr {
    border: none;
    background-color: var(--azul);
    height: 2px;
}

.marvel-ul {
    width: clamp(260px, 90%, 1200px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
}

.marvel-li {
    padding-bottom: 10px;
    font-size: .8rem;
}

.marvel-li a:link,
.marvel-li:visited {
    padding-right: 0px;
}

.marvel-li :hover {
    cursor: pointer;
    color: var(--blanco);
    text-shadow: 0 1px 1px black;
}

.marvel-li::before {
    content: "• ";
    color: var(--blanco);
}

.sub-li {
    font-size: .9rem;
}

.sub-li::after {
    content: " •"
}

/* Boton Ir Arriba */
#boton-arriba {
    width: 40px;
    height: 40px;
    color: var(--blanco);
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 1.8rem;
    right: 2rem;
    border: 4px solid transparent;
    cursor: pointer;
    transition: all .3s ease;
    transform: scale(0);
    z-index: 2000;
}

#boton-arriba:hover {
    transform: scale(1.1);
    background-color: var(--rojo);
    border: 4px solid var(--rojo);
}